.title {
    background-color: orange;
    padding: 5px;
    font-weight: 300;

    .title-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: larger;
        cursor: pointer;

        .categories {
            margin-left: 5px;
            font-size: smaller;
            font-weight: 300;
            gap: 5px;
        }
    }
}