<div class="title" fxLayout="row nowrap" fxLayoutAlign="space-between center">
    <span class="title-text" routerLink="/">Hacker News
        <span class="categories">
            <span class="text-underline">New</span> |
            <span class="text-underline">Past</span> |
            <span class="text-underline">Comments</span> |
            <span class="text-underline" routerLink="/ask">Ask</span> |
            <span class="text-underline" routerLink="/show">Show</span> |
            <span class="text-underline" routerLink="/jobs">Jobs</span> |
            <span class="text-underline">Submit </span>
        </span>
    </span>
    <span fxLayout="row nowrap" fxLayoutAlign="start center" fxLayoutGap="5px">
        <span>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </span>
        <span>
            <button mat-icon-button [matMenuTriggerFor]="menuRef">
                <mat-icon>account_circle</mat-icon>
            </button>

            <mat-menu #menuRef="matMenu">
                <div mat-menu-item routerLink="/user/">User</div>
                <button mat-menu-item>
                    Log Out
                </button>
            </mat-menu>
        </span>
    </span>
</div>