.title {
    background-color: darkorange;
    padding: 16px;
    font-weight: 300;
    color: white;

    .title-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: larger;
        cursor: pointer;

    }
}

.categories {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 15px;
   button{
    color: white;
    background-color: inherit !important;
   }
}

.ticon{
    border: 2px solid white;
    columns: white;
    padding: 5px;
}