.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .label {
        display: flex;
        width: 6%;
        font-weight: 300;
    }
    .extras{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 2px;
        text-decoration: underline;
        cursor: pointer;
    }
}