.comment-info {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

@media screen and (max-width:900px){
    .sub-comments{
        margin-left: 5px;
    }
}

.sub-comments{
    margin-left: 12px;
}