.comment-info {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

.blo{
    border-left: #ff8c00 5px solid;
    transition:all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.blo-remove{
    border-left: #ff8c00 0px solid ;
    transition:all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) ;
}

@media screen and (max-width:900px){
    .sub-comments{
        margin-left: 5px;
    }
}

.sub-comments{
    margin-left: 12px;
}