<app-heading class="sticky"></app-heading>
<div class="page">
    <mat-card class="story">
        <div class="p-15" fxLayout="row nowrap" fxLayoutAlign="start center">
            <div class="m-20s" fxFlex="15">{{storyData.score}}</div>
            <div fxLayout="column wrap" fxFlex>
                <span class="story-title bold">{{storyData?.title}}</span>
                <div *ngIf="storyData?.text" [innerHTML]="storyData.text"></div>
                <div class="story-url" (click)="open(storyData?.url)">{{storyData?.url}}</div>
                <div class="story-info">
                    <button class="text-left justify-content-start" mat-flat-button routerLink="/user/{{storyData?.by}}">{{storyData?.by}}
                    </button>
                    <div> {{storyData?.descendants}} comments </div>
                    <div> {{getTime(storyData.time)}} </div>
                </div>
            </div>
        </div>
    </mat-card>
    <div style="margin-top:10px ;" fxLayout="column nowrap" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <app-comments [data]="kidsArrayData"></app-comments>
    </div>
</div>