<app-heading class="sticky"></app-heading>
<mat-card fxLayout="column nowrap" fxLayoutAlign="start stretch" class="page">
    <mat-accordion *ngFor="let story of paginatedData;index as i;last as l">
        <mat-expansion-panel hideToggle expanded="true">
            <div class="row-center">
                <div class="m-20" fxFlex="15">
                    {{paginated[i]?.score}}
                </div>
                <div class="story" [fxFlex]="paginated[i]?.type!='job' ? 70:85" >
                    <div *ngIf="paginated[i]?.title">
                        <span class="story-title">
                            <!-- <mat-icon style="cursor: pointer;">arrow_drop_up</mat-icon>  -->
                            {{paginated[i]?.title}}
                        </span>
                        <div class="story-url cursor-pointer" target="_blank" (click)="open(paginated[i]?.url)">{{paginated[i]?.url}}
                        </div>
                    </div>
                    <div>
                        <div class="story-info">
                            <button class="text-left" mat-flat-button routerLink="/user/{{paginated[i]?.by}}">
                                {{paginated[i]?.by.trim()}}
                            </button>
                            <a> {{getTime(paginated[i]?.time)}} </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="paginated[i]?.type!='job'" class="m-20c cursor-pointer" fxFlex="15">
                    <div routerLink="/story/{{paginated[i]?.id}}">
                        <div>
                            <mat-icon>mode_comment</mat-icon>
                        </div>
                        <div>{{paginated[i]?.descendants}} </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!paginated[i]?.title">
                <div class="skeleton skeleton-text"></div>
                <div>
                    <div class="skeleton skeleton-text"></div>
                    <div class="skeleton skeleton-text"></div>
                </div>
                <div>
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-divider *ngIf="!l"></mat-divider>
    </mat-accordion>
    <mat-paginator paginator [length]="topStories.length" [pageSize]="20" (page)="onPageChange($event)"
        showFirstLastButtons="true" aria-label="Select page">
    </mat-paginator>
</mat-card>