.row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cursor-pointer{
    cursor: pointer;
}
.m-20{
    text-align: center;
    // width: 15%;
    color: orange;
    // flex: auto;
}
.m-20c{
    text-align: center;
    // width: 15%;
    color: orange;
    display: flex;
    // flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mat-expansion-panel-spacing{
    margin: 0px !important;
}
button{
    padding: 0px !important;
}