<app-heading class="sticky"></app-heading>
<mat-card appearance="outlined" class="page flex flex-col flex-nowrap items-stretch justify-start">
    <table mat-table [dataSource]="ds" class="w100" [trackBy]="tableTrackBy" *ngIf="ds.data.length > 0">
        <ng-container matColumnDef="story">
            <td mat-cell *matCellDef="let element">
                <div class="story" *ngIf="element?.data?.length!=0;else noData">
                    <div>
                        <span class="story-title flex">
                            <div class="flex-basis-[85%]">
                                {{element.data?.title}}
                            </div>
                            <div class="story-info flex-basis-[15%]">
                                <div class="tr w100">{{element?.data.time}}</div>
                            </div>
                        </span>
                        <div class="story-url cursor-pointer" target="_blank" (click)="open(element?.data.url)">
                            {{element.data.url}}
                        </div>
                        <div class="flex flex-row flex-nowrap items-center justify-between gap-[25px]">
                            <button class="flex-basis-[35%] text-left justify-start" mat-flat-button
                                routerLink="/user/{{element?.data?.by}}">
                                {{element.data.by.trim()}}
                            </button>
                            <div *ngIf="element.data.type!='job'"
                                class="m-20c flex-basis-[20%] cursor-pointer flex flex-row flex-wrap items-center justify-between">
                                <button class="bg-none" mat-flat-button [disabled]="element?.data?.descendants==0"
                                    routerLink="/story/{{element.id}}">
                                    {{element?.data?.descendants}} comments
                                </button>
                            </div>
                            <div class="m-20 flex-basis-[15%]">
                                {{element?.data?.score}}
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noData>
                    <div class="skeleton skeleton-text"></div>
                    <div>
                        <div class="skeleton skeleton-text"></div>
                        <div class="skeleton skeleton-text"></div>
                    </div>
                    <div class="skeleton skeleton-text"></div>
                  </ng-template>
            </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator (page)="onPageChange($event)" [length]="topStories.length" paginator [pageSize]="10"
        showFirstLastButtons="true" aria-label="Select page">
    </mat-paginator>
</mat-card>
