
.cursor-pointer {
    cursor: pointer;
}

.disabled-text{
    color: #00000042;
}

.mat-expansion-panel-spacing {
    margin: 0px !important;
}

.justify-content-start{
    justify-content: flex-start !important;
}

.mat-column-upvote{
    width: 15%;
}

.tr{
    text-align: right !important;
}

.w100{
    width: 100%;
}